body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */

    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.login-container, .home-container, .vet-assistant-container, .emergency-response-container,
.grooming-nutrition-container, .pet-boarding-container, .pet-adoption-container,
.lost-pet-recovery-container, .pet-matrimony-container {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

nav ul li a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
